<h1 class="eventTitle"><%= @event['name'] %> Details</h1>

<div class="eventDetails">

    <img class="detailsImage" src="<%= @event['image_url'] %>" alt="">

    <div class="info">

        <p class="dateDetails">Date: <%= @event['date'] %></p>
        
        <p>Start time: <%= Time.parse(@event['start_time']).strftime("%I:%M %p") %></p>

        <p>End time: <%= Time.parse(@event['end_time']).strftime("%I:%M %p") %></p>

        <p>Number of attendees: <%= @num_attendees %></p>
        
        <h3>Questions:</h3>
        <% @questions.each do |question|  %>
            <p>Q: <%= question['question'] %></p>
            
            <% if question['answer'] == nil%>
                <p><a href="/question/<%= question['id'] %>/answer">write answer to question</a></p>
                
            <% else %>
                <p>A: <%= question['answer'] %></p>
            <% end %>

        <% end %>

        <div class="buttons">
            <a href="/event/<%= @event['id'] %>/edit"  class="editBtn">
                <p>edit</p>
            </a>
            <form action="/event/<%= @event['id'] %>" method="post" class="deleteForm">
                <input type="hidden" name="_method" value="delete">
                <button class="deleteBtn">delete</button>
            </form>
        </div>

    </div>

</div>
