<h2><%= current_organiser['organiser_name'] %> events</h2>

<div class="events">
    <% if @events.ntuples == 0 %>
        <p>You don't have any events listed! Create a new event <a href="/event/new">here.</a></p>
    
    <% else %>
        <% @events.each do |event| %>
            <a href="/organiser/event/<%= event['id'] %>" class="event">
                <div class="imageBox">
                    <img src="<%= event['image_url'] %>" alt="">
                </div>
                <h3 class="indexEventName"><%= event['name'] %></h3>
                <p class="indexEventDate"><%= Time.parse(event['start_time']).strftime("%I:%M %p") %>  <%= Date.parse(event['date']).strftime("%d/%m/%y%y") %></p> 

            </a>
        <% end %>
    <% end %>
</div>