<h1>Event Details</h1>

<div>
    <img src="<%= @event['image_url'] %>" alt="">
    <p><%= @event['name'] %></p>
    <p>Date: <%= @event['date'] %></p>
</div>

<% if @questions.length != 0 %>
    <% @questions.each do |question|  %>
        <% if question['answer'] != nil%>
            <p>Questions:</p>
            <p><%= question['question'] %></p>
            <p><%= question['answer'] %></p>
        <% end %>
    <% end %>
<% end %>

<% if user_logged_in? %>
    <% if user_attending(@event['id']) == false %>

    <div>
        <a href="/event/<%= @event['id'] %>/add">Add to my events</a>        
    </div>

    <% else %>

        <p><a href="/event/<%= @event['id'] %>/remove">Remove from my events</a></p> 

    <% end %>

        <p><a href="/question/event/<%= @event['id'] %>">Ask a question about this event</a></p>

<% end %>
