<h1>Event Details</h1>

    <div>
        <img src="<%= @event['image_url'] %>" alt="">
        <p><%= @event['name'] %></p>
        <p>Date: <%= @event['date'] %></p>
    </div>

    <% if user_logged_in? %>
        <% if user_attending(@event['id']) == false %>

        <div>
            <a href="/event/<%= @event['id'] %>/add">Add to my events</a>        
        </div>

        <% else %>

            <a href="/event/<%= @event['id'] %>/remove">Remove from my events</a>

        <% end %>
    <% end %>