<h1>Edit <%= @event['name'] %> details</h1>

<form action="/organiser/event/<%= @event['id'] %>" method="post">

    <input type="hidden" name="_method" value="patch">
    
    <section>
        <label for="">Name: </label>
        <input type="text" name="name" value="<%= @event['name'] %>">
    </section>

    <section class="editImageSection">
        <p>Image: </p>
        <div class="imageBoxEdit">
            <img src="<%= @event['image_url'] %>" alt="">
        </div>
        <p><a href="/event/<%= @event['id'] %>/edit_image" class="buttonFormatting">Change image</a></p>
    </section>

    <section>
        <label for="">Date: </label>
        <input type="date" name="date" value="<%= @event['date'] %>" min="<%= @min %>">
    </section>

    <section>
        <label for="time">Start Time: </label>  
        <input type="time" name="starttime" value="<%= @event['start_time'] %>">
    </section>

    <section>
        <label for="time">End Time: </label>  
        <input type="time" name="endtime" value="<%= @event['end_time'] %>">
    </section>

    <section>
        <label for="postcode">Location postcode: </label>
        <input type="postcode" name="postcode" value="<%= @event['postcode'] %>">
    </section>

    <button>Update</button>

</form>